/* These styles may need to be rewritten with the AP row CSS in mind as the box may not line up
with the iframe because of the difference in AP row class */
.name-box {
    border-left: 1px solid rgb(197, 199, 201);
    border-bottom: 1px solid rgb(197, 199, 201);
    border-right: 1px solid rgb(197, 199, 201);
    width:300px;
    margin-left: 0;
}

p {
    font-weight: bold;
}