<div class="row" style="margin-left:5px;margin-top:10px;">
    <div class="row col-lg-4 form-group">
        <label for="search">Search</label>
        <input class="form-control" type="text" id="search" name="search" placeholder="Enter search criteria">
        <div class="row" style="margin-top:5px;margin-left:0;">
            <button type="button" class="btn btn-primary">Search</button>
        </div>
    </div>
</div>
<div class="row" style="margin-left:5px;">
    <div *ngFor="let video of videoData | paginate: {itemsPerPage:12, currentPage: p}" class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
        <div class="row" style="margin-top:10px;">
            <div class="row">
                <iframe type="text/html"
                [src]="video.url"
                frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-top:10px;">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>